-var title = ['Безопасность встреч','Конфиденциальность','Сертифицированные эксперты','Работаем о всей Украине'];
-var text = ['Мы заботимся о клиенте и дорожим своей репутацией','Не раскрывам личную информацию наших клиентов','Не стоит беспокоиться за безопасность сделки','Не стоит беспокоиться за безопасность сделки'];
.row
	each i in [0, 1, 2, 3]
		.col.col--3-of-12.col--s-12-of-12.col--m-6-of-12.col--l-3-of-12
			article.why
				.why__inner
					.why__icon
						img(src="images/why/p-"+(i+1)+".png", alt="")
					h4.why__title= title[i]
					p.why__text= text[i]