*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body{
  font-family: $font-family;
}
.container{
  min-width: 320px;
  // max-width: 1170px;
  max-width: 1190px;
	margin: 0 auto;
  padding: 0 15px;
  @include clearfix();
  &.is--huge{
    max-width: 1670px;
  }
  &.is--narrow{
    max-width: 1110px;
  }
  
  // @include pc {
  //   max-width: 970px;
  // }

  // @include note {
  //   max-width: 750px;
  // }

  // @include tablet {
  //   max-width: 480px;
  // }

  // @include small {
  //   max-width: 90%;
  // }

  // @include phone {
  //   width: 100%;
  // }

}
.is--text-right{
  text-align: right;
}
.is--text-center{
  text-align: center;
}
.is--no-padding{
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 0 16px;
  font-weight: 900;
	color: $color__secondary;
}
.title{
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: $color__secondary;
}
p{
	margin: 0 0 15px;
	font-size: 14px;
	font-weight: 100;
	line-height: 21px;
	color: #55636e;
}