/**
 *
 * buttons
 *
 **/
.btn{
	border: none;
	outline: none;
	transition: all 250ms linear;
}
.btn-bordered{
	display: block;
	padding: 10px 30px;
	font-family: $font-family;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
	color: $color__primary;
	border-radius: 5px;
	border: 1px solid;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: all 250ms linear;
	&:hover{
		color: darken($color__primary, 5%);
	}
}
.btn-bordered--alt{
	@extend .btn-bordered;
	max-width: 210px;
	margin: 0 auto;
	color: #69a5ba;
	transition: all 250ms linear;
	&:hover{
		color: darken(#69a5ba, 5%);
	}
}
.btn-primary{
	display: inline-block;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 22px 24px rgba(255, 81, 80, 0.32);
	border-radius: 5px;
	background-color: #ff4b55;
	background-image: linear-gradient(-104deg, #ff4b55 0%, #ff4b55 1%, #ff6c00 100%);
	text-align: center;
	text-decoration: none;
	transition: all 250ms linear;
	&:hover{
		box-shadow: 0 22px 24px rgba(255, 81, 80, 0.16);
		background-image: linear-gradient(-104deg, darken(#ff4b55,5%) 0%, darken(#ff4b55,5%) 1%, darken(#ff6c00,5%) 100%);
	}
	&.is--md{
		max-width: 230px;
		margin: 0 auto;
	}
}
.btn-secondary{
	padding: 11px 40px;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
	background-color: $color__secondary;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	color: #fff;
	text-align: center;
	transition: all 250ms linear;
	&:hover{
		background-color: darken($color__secondary, 5%);
	}
}
.btn-special {
	display: inline-block;
	position: relative;
	padding: 15px 30px;
	padding-left: 72px;
	box-shadow: 0 4px 9px rgba(53, 126, 156, 0.56);
	border-radius: 30px;
	background-color: #2ba2db;
	background-image: url('../images/btn-bg.png'), linear-gradient(-253deg, #172953 0%, #428ea8 75%, #428ea8 100%);
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: all 250ms linear;
	&:hover{
		box-shadow: 0 4px 9px rgba(53, 126, 156, 0.36);
		background-image: url('../images/btn-bg.png'), linear-gradient(-253deg, darken(#172953,5%) 0%, #428ea8 75%, darken(#428ea8,5%) 100%);
	}
	&:before{
		content: '';
		position: absolute;
		top: 6px; left: 7px;
		@include sprite('play');
	}
}