/**
 *
 * form
 *
 **/
input[type=email], input[type=number], input[type=search], input[type=text], input[type=tel], input[type=url], input[type=password], textarea {
     appearance: none;
 }
 button, input, optgroup, select, textarea {
     color: inherit;
     font: inherit;
     margin: 0;
     
     &:focus{
       outline:none;
     }
 }
label{
  display: block;
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 16px;
  color: #36332e;

  &.error{
    display: block;
    text-align: right;
    font-size: $fs--small;
    line-height: $lh--small;
    color: #ec0202;
  }
}


input,
select,
textarea{
  @extend %formElement;
}


%formElement{
  display: block;
  width: 100%;
  padding: 8px 15px;
  outline: 0;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
  color: #36332e;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  background-color: #fff;

  &.is--center{
    text-align: center;
  }

  &.error{
    border-color: #ec0202;
    color: #ec0202;
  }
  &:hover,
  &:focus{
    outline: none;
    border: 1px solid #b7b7b7;
  }
}

.form{
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  @include note {
    width: 100%;
  }
}
.form__alarm{
  position: relative;
  padding-left: 40px;

  i{
    position: absolute;
    left: 0; top: 2px;
  }
  p, a{
    margin: 0;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  a{
    text-decoration: underline;
  }
}
.form--right{
  float: right;
  
  @include note {
    float: none;
    margin: 0 auto;
  }
}
.form--left{
  float: left;
  
  @include note {
    float: none;
    margin: 0 auto;
  }
}
.form__inner{
  padding: 20px 30px 30px;
  border-radius: 2px;
  border: 1px solid #bfbebe;
  background-color: #ffffff;
}
.form__title{
  margin: 0 0 20px;
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: $color__primary;
}
.form__field{
  position: relative;
  width: 100%;
	margin-bottom: 12px;
  @include clearfix();
  
  &.is--required{
    &:after{
      content: '*';
      position: absolute;
      top: 5px; right: 8px;
      color: red;
      z-index: 10;
    }
  }

  input,
  select,
  textarea{
    @extend %formElement;
    width: 100%;
  }
  select{
    @extend %select;
  }
  textarea{
    height: 80px;
  }
}
.form__field--inline{
  input,
  select,
  textarea{
    width: auto;
  }
}
.form__field--select{
  position: relative;
  background:#fff;
  z-index: 2;
  &:after {
    content: '';
    // @include sprite(angle-down);
    position: absolute;
    right: 12px; top: 17px;
    z-index: -1;
  }

  select {
    padding-right: 50px;
    background:transparent;
  }
}
// FORM INPUT - SELECT - TEXTAREA
.input,
.select,
.textarea {
  @extend %formElement;
}

.input--md{
  font-style: 18px !important;
  padding: 12px 13px 12px 13px!important;
}

%select{
  box-sizing: border-box;
  user-select: none;
  appearance: none;
  outline:none;
  &:focus{
    outline:none;
  }
}
.select {
  @extend %select;

  option {
    line-height: 28px;
  }
}
.textarea {
	min-height: 85px;
  resize: none;
}
.input:focus, 
.input:hover, 
.select:focus, 
.select:hover, 
.textarea:focus, 
.textarea:hover {
	border-color: darken(#b7b7b7,3%);
	outline: 0;
}
.radio {
  vertical-align: top;
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid $color__primary;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $color__primary;
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {}


.form__file{
  position: relative;
  display: inline-block;
  padding: 4px 0 4px 45px;
  margin-right: 20px;
  line-height: 20px;
  font-size: 14px;
  z-index: 10;
  color: #282828;
  cursor: pointer;

  i {
    position: absolute;
    top: 2px; left: 8px;

    &:before{
      content: '';
      position: absolute;
      left: -8px; top: -6px;
      width: 36px;
      height: 36px;
      border-radius: 36px;
      background:$color__primary;
      z-index: -1;
    }
  }

  input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
    }
  }
  span{}
}
.form__text{
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(#000, .6);
  &.is--center{
    text-align: center;
  }
}
.form__upload{
  @extend .valuation__upload;
}
.form__upload-img{
  @extend .valuation__upload-img;
}
.form__upload-file{
  @extend .valuation__upload-file;
}
.form__upload-label{
  @extend .valuation__upload-label;
}


.checkbox {
  vertical-align: top;
  width: 22px;
  height: 22px;
  margin: 0 3px 0 0;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 36px;
}

.checkbox:not(checked) + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #0f0f0f;
  background-color: #ffffff;
}

.checkbox:not(checked) + label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 9px;
  height: 13px;
  border: solid #0f0f0f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.2s;
}

.checkbox:checked + label:after {
  opacity: 1;
}

.checkbox:checked + label:before {
  background-color: #fff;
}
