.content{
	padding: 44px 67px;
	box-shadow: 0 11px 13px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	&.is--gray{
		background-color: #fafafa;
	}
	&:first-child{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&:last-child{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.content__header{
	margin: 0 0 45px;
	font-size: 42px;
	font-weight: 900;
	line-height: 45px;
	color: $color__secondary;
	&.is--center{
		text-align: center;
	}
}