$button-width: 41px;                    // The width of the button area
$button-height: 28px;                   // The height of the button area
$bar-thickness: 4px;                    // The thickness of the button bars
$button-pad: 0;                      // The left/right padding between button area and bars.
$button-bar-space: 8px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration
$button-color: #505050;

@mixin hamburger-icon {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;    &:focus {
      outline: none;
    }

    & span {
      display: block;
      position: absolute;
      top: ($button-height / 2) - ($bar-thickness / 2);
      left: $button-pad;
      right: $button-pad;
      height: $bar-thickness;
      background: $button-color;
    }

    & span::before,
    & span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: $button-color;
      content: "";
    }

    & span::before {
      top: -$bar-thickness - $button-bar-space;
    }

    & span::after {
      bottom: -$bar-thickness - $button-bar-space;
    }

    & span {
      transition: background 0s $button-transistion-duration;
    }

    & span::before,
    & span::after {
      transition-duration: $button-transistion-duration, $button-transistion-duration;
      transition-delay: $button-transistion-duration, 0s;
    }

    & span::before {
      /*! autoprefixer: off */
      transition-property: top, transform;
    }

    & span::after {
      /*! autoprefixer: off */
      transition-property: bottom, transform;
    }

    /* active state, i.e. menu open */
    &.is--active span {
      background: none;
    }

    &.is--active span::before {
      top: 0;
      transform: rotate(45deg);
    }

    &.is--active span::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &.is--active span::before,
    &.is--active span::after {
      transition-delay: 0s, $button-transistion-duration;
    }
}

body:after{
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.3);
  content: '';
  opacity: 0;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
body.is--mobile-active{
  overflow: hidden;

  &:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 100;
  }
}
.mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  background: #fff; 
  transition: opacity .35s, visibility .35s, height .35s;
  overflow-y: auto;
  z-index: 9999;

  &.is--visible{
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
}
.mobile-nav__inner{
  padding: 120px 80px 0;
}

.mobile-nav__toggle{
  @include hamburger-icon;

  &.is--active{
    position: fixed;
  }
}
.mobile-nav__icon{
  position: fixed;
  top: 32px;
  right: 45px;
  cursor: pointer;
  z-index: 10000;
}
.mobile-nav__toggle{
	position: relative;
	vertical-align: middle;

  span,
  span:after,
  span:before{
    background: $button-color;
    border-radius: 2px;
  }

}
.mobile-nav__footer{
  padding: 70px 100px 20px;
  background: url('../images/stripes.png') 0 0 repeat;
}
.mobile-nav__block{
  @include col();
  width: percentage(1/3);
  @include media('<1200px'){
    width: percentage(1/2);
  }
  @include media('<640px'){
    width: percentage(1/1);
  }
}
.mobile-nav__block-icon{
  float: left;
  width: 156px;
  img{
    display: block;
  }
  @include media('<930px'){
    float: none;
  }
}
.mobile-nav__list{
  @extend %list;
  position: relative;
  margin-left: 180px;
  margin-bottom: 85px;

  
  @include media('<930px'){
    margin-left: 0;
  }
}
.mobile-nav__item{
  display: block;
  // margin-bottom: 12px;
  
  &:first-child a{
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
  }
}
.mobile-nav__link{
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #6f6e72;
  letter-spacing: 0.11px;
  text-decoration: none;
  &:hover,
  &.is--current{
    text-decoration: underline;
  }
}