.pagination{
	line-height: 0;
	text-align: center;

	a {
		display: inline-block;
		vertical-align: middle;
		width: 38px;
		height: 38px;
		margin-right: 10px;
		border-radius: 5px;
		box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.32);
		border-radius: 5px;
		background-color: #fff;
		font-size: 16px;
		font-weight: 100;
		line-height: 38px;
		color: $color__secondary;
		text-decoration: none;
		text-align: center;

		&:hover{
			text-decoration: none;
			color: #000000;
		}
	}

	.is--active{
		display: inline-block;
		vertical-align: middle;
		width: 38px;
		height: 38px;
		margin-right: 10px;
		border-radius: 5px;
		box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.32);
		font-size: 18px;
		font-weight: 500;
		line-height: 38px;
		text-align: center;
		background-color: $color__secondary;
		color: #ffffff;
	}
	span {
		display: inline-block;
		vertical-align: bottom;
		text-align: center;
		width: auto;
		height: auto;
		margin-right: 10px;
		color: #acacac;
		font-size: 20px;
		font-weight: 100;
		line-height: 20px;
	}
}