.valuation{
	position: relative;
	width: 300px;
	margin: 0 auto 70px;
	box-shadow: 0 49px 62px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	background-color: #f5f5f5;
	z-index: 30;
	&.is--left{
		margin: 0 0 50px 73px;
		
		@include media('<992px'){
			margin: 0 auto 50px;
		}
	}
	&.is--negative-margin{
		margin-top: -26px;
		margin-bottom: -100px;

		@include media('<992px'){
			margin: 0 auto 70px;
		}
	}
	&.is--decorated{
		position: relative;
		&:before{
			position: absolute;
			left: -120px; top: 284px;
			content:'';
			width: 197px;
			height: 202px;
			background: url('../images/fd-1.png') center center no-repeat;
			z-index: -1;
		}
		&:after{
			position: absolute;
			right: -190px; top: 80px;
			content:'';
			width: 305px;
			height: 355px;
			background: url('../images/fd-2.png') center center no-repeat;
			z-index: -1;
		}

		@include media('<1400px'){
			&:after{
				display: none;
			}
		}
		@include media('<992px'){
			&:after{
				display: block;
			}
		}
		@include media('<700px'){
			&:after{
				right: -140px;
			}
		}
		@include media('<540px'){
			&:before,
			&:after{
				display: none;
			}
		}
	}

	&.is--horizontal{
		position: relative;
		width: 100%;
		margin: 50px 0;
		border-radius: 8;
		background-color: transparent;
	}
}
.valuation__header-wrapper{
	.is--horizontal &{
		position: absolute;
		width: 80px;
		height: 100%;
	}
}
.valuation__header{
	padding: 10px 26px;
	border-radius: 8px 8px 0 0;
	background-color: #428ea8;
	background-image: url('../images/btn-bg.png'), linear-gradient(-253deg, #172953 0%, #172953 48%, #428ea8 100%);
	background-position: center center;
	background-repeat: no-repeat;
	text-shadow: 0 4px 9px rgba(0, 0, 0, 0.35);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.35px;
	text-transform: uppercase;
	color: #fff;

	span{
		display: block;
		font-size: 12px;
		letter-spacing: 0.3px;
	}

	.is--horizontal &{
		height: 80px;
		width: 286px;
		transform-origin:0 0;
		transform: rotate(-90deg) translateX(-100%);
	}
}
.valuation__content{
	background-color: #f5f5f5;
	border-radius: 0 0 8px 8px;
	.is--horizontal &{
		margin-left: 80px;
		background: transparent;
		border-radius: 0;
	}
}
.valuation__form{
	.is--horizontal &{
		display: table;
		width: 100%;
		border-radius: 0 8px 8px 0;
		background-color: #f5f5f5;
	}
}
.valuation__form-field{
	margin-bottom: 12px;
	@include clearfix();
}
.valuation__step .valuation__form-field:last-child{
	margin-bottom: 0;
}
.valuation__step{
	position: relative;
	padding: 28px 31px 20px 26px;
	&.is--gray{
		background-color: #eaeaea;
	}
	&:last-child{
		border-radius: 0 0 8px 8px;
	}
	.is--horizontal &{
		display: table-cell;
		width: 50%;
		&:last-child{
			border-radius: 0 8px 8px 0;
		}
	}
}
.valuation__step-title{
	margin: 0 0 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #000;
}
.valuation__step-text{
	clear: both;
	margin: 0 0 20px;
	font-size: 12px;
	font-weight: 100;
	font-style: italic;
	line-height: 14px;
	color: #000;
	text-align: center;
}
.valuation__action{
	position: absolute;
	left: 27px; right: 35px; bottom: -20px;
	text-align: center;
}
.valuation__upload{
	float: left;
	margin-right: 9px;
	width: 74px;
	&:last-child{
		margin-right: 0;
	}
	.is--horizontal &{
		margin-right: 30px;
	}
}
.valuation__upload-img{
	width: 74px;
	height: 45px;
	margin: 0;
	cursor: pointer;
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}
.valuation__upload-file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	padding: 0;
	z-index: -1;
}
.valuation__upload-label{
	display: block;
	margin: 0;
	padding: 5px 0;
	font-family: $font-family-secondary;
	font-size: 9px;
	font-weight: 400;
	line-height: 18px;
	color: #a0a7b1;
	cursor: pointer;
	text-align: center;
}