.widget{
	margin: 0 0 30px;
	border-radius: 0 0 5px 5px;
}
.widget__header{
	position: relative;
	padding: 18px 28px;
	border-radius: 8px 8px 0 0;
	background-color: #428ea8;
	background-image: url('../images/wh-bg.png'), linear-gradient(-253deg, #172953 0%, #172953 48%, #428ea8 100%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.widget__title{
	font-size: 22px;
	font-weight: 900;
	line-height: 24px;
	color: #fff;
}
.widget__content{
	padding: 17px 0 22px;
	background-color: #fff;
	box-shadow: 0 11px 13px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 5px 5px;

	&.is--text-bg{
		background-image: url('../images/ocenka-bg.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		background-position-x: 200px;
	}
	&.is--coin-bg{
		background-image: url('../images/coin-bg.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	&.is--long-shadow{
		box-shadow: 1px 26px 35px 1px rgba(27, 28, 35, 0.28);
	}
	&.is--no-padding{
		padding: 0;
	}
}